<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="MyConnectionString" connectionString = "Server=oregon-postgres.render.com;Port=5432;Database=numizmath;User Id=wizz;Password=ja87blcAks1Vdj5ynDtTrozmXSSn10WP;" providerName="Npgsql" />

	</connectionStrings>
</configuration>